# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sh

# Test binary, built with `go test -c`
*.test
*.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Editor
.idea

# Binary dependencies
bin
env

# Environment variables
.env*
dist/

# other
sb-server/__pycache__
sb-server/devices/
sb-server/connect.json
sb-server/.DS_Store
nb-server/pkg/tf/yang
