apiVersion: v1
kind: Service
metadata:
  name: kuesta-server
spec:
  type: ClusterIP
  selector:
    app: kuesta-server
  ports:
    - name: grpc
      port: 9339
      targetPort: 9339
      protocol: TCP
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
