/*

Add styles or override variables from the theme here.

*/

$primary: #4A86E8;
$secondary: #FEB467;
$td-enable-google-fonts: true;
$light: #ddd !default;
$dark: #505050 !default;
$mobile-width: 767px;